/* app css stylesheet */

#main-container {


}

footer {
    margin-top: 20px;
}

@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}

/* statuses/filter */

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 400px;
}
