<div class="row">
    <div class="col-xs-2">
        <tabset vertical="true" type="pills">

        <h3> Campaigns </h3>
        <p> bla bla </p>
        <tab ng-repeat="campaign in campaigns" heading="{{campaign._id}}" active="active" select="selectCampaign(campaign._id)">
        {{campaign._id}}
        </tab>
        </tabset>
    </div>
    <div class="col-xs-10">
        <div ng-model="campaign_in_tab">
          <h2> {{campaign_in_tab.campaign_id}} </h2>
          <div class="xs-col-1 pull-left">
            <p>Date: {{ campaign_in_tab.date }} </p>
          </div>
          <div class="xs-col-11 pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-click="switchSeries('hour')">Hours</button>
              <button type="button" class="btn btn-default" ng-click="switchSeries('minute')">Minutes</button>
            </div>
          </div>
          <d3-bars data='campaign_series_to_plot'></d3-bars>
          <p> {{ campaign_in_tab.series }} </p>
        </div>
    </div>
    <footer>
    <div>Client version: v<span app-version></span></div>
    </footer>
</div>
