<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Direnaj!</title>
</head>
<body>
    <h1>Retrieved Profile History</h1>
    <table border="1">
    <th> id_str</th>
    <th> screen_name </th>
    <th></th>
    <th> name </th>
    <th> friends_count </th>
    <th> followers_count </th>
    <th> statuses_count </th>
    <th> created_at </th>
    <th> record_retrieved_at </th>
    {% for user in profiles %}
    
    {% if user.protected %}
    <tr style="background-color:gray">
    {% else %}
    <tr>
    {% endif %}
    <th>{{ user.id_str}}</th>
    <th>{{user.screen_name}}</th>
    <th><img src="{{ user.profile_image_url }}" height="64" width="64"></th>
    <th>{{ user.name}} </th>
    <th>{{ user.friends_count}}</th>
    <th>{{ user.followers_count}}</th>
    <th>{{ user.statuses_count}}</th>
    <th>{{ user.created_at_ctime}}</th>
    <th>{{ user.ctime }}</th>
  </tr>
    {% endfor %}
</table>


</body>
</html>