import os

####################################################################
# You must specify values for these variables

PROJECT_ROOT_DIR=
MONGO_BIN_DIR=

# Obtain these from Twitter, see project wiki
consumer_key = "..."
consumer_secret = "..."
access_token_key = "..."
access_token_secret = "..."

####################################################################
# Configuration below has sensible default values

# These are the default settings
MONGO_HOST='localhost'
MONGO_PORT=27017

# Direnaj Database
DIRENAJ_DB = 'direnaj_test'

DIRENAJ_APP_HOST = 'localhost'
DIRENAJ_APP_PORT = 9999

## Testing related
DB_TEST_VERSION=0.1
