<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Direnaj!</title>
</head>
<body>

<h1>Watched users of a campaign</h1>
<table border="1">
    <th> id_str</th>
    <th> screen_name </th>
    <th> statuses_count </th>
    <th></th>
    <th> name </th>
    <th> friends_count </th>
    <th> followers_count </th>
    <th> last tweet id (we have) </th>
    <th> friend follower task state </th>
    {% for (user, timeline_task_state, friendfollower_task_state) in profiles %}
    {% if user.protected %}
    <tr style="background-color:gray">
        {% else %}
    <tr>
        {% endif %}
        <td>
            <a href="{{ href }}/user/view?user_id={{ user.id_str}}">
                {{ user.id_str}}
            </a>
        </td>
        <td>{{user.screen_name}}</td>
        <td>{{ user.statuses_count}}</td>
        <td><img src="{{ user.profile_image_url }}" height="64" width="64"></td>
        <td>{{ user.name}}</td>
        <td>
            {{ user.friends_count}}
        </td>
        <td>
            {{ user.followers_count}}
        </td>
        <td>
            {{ timeline_task_state.state }} / {{ timeline_task_state.since_tweet_id }} / {{ timeline_task_state.updated_at }}
            <a href="{{ href }}/tasks/timeline?user_id={{user.id_str}}&local_or_remote=local&campaign_id={{ campaign_id }}">
                update
            </a>
        </td>
        <td>
            {{ friendfollower_task_state.state }} / {{ friendfollower_task_state.updated_at }}
            <a href="{{ href }}/tasks/friendfollower?user_id={{user.id_str}}&local_or_remote=local&campaign_id={{ campaign_id }}">
                update
            </a>
        </td>
        <td>
            XX / XXX
            <a href="{{ href }}/tasks/userinfo?user_id={{user.id_str}}&local_or_remote=local&campaign_id={{ campaign_id }}">
                update
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<br><br>

</body>
</html>
