<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>testPackage.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DirenajService</servlet-name>
		<servlet-class>direnaj.adapter.DirenajService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HashtagServlet</servlet-name>
		<servlet-class>testPackage.nlpTests.HashtagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartDisplayServlet</servlet-name>
		<servlet-class>testPackage.ChartDisplayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>D3LibJsonUtilizer</servlet-name>
		<servlet-class>direnaj.adapter.DirenajD3LibService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommunitySentimentAnalysis</servlet-name>
		<servlet-class>direnaj.adapter.CommunitySentimentAnalysis</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirenajService</servlet-name>
		<url-pattern>/services</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HashtagServlet</servlet-name>
		<url-pattern>/hashtagAnalysis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartDisplayServlet</servlet-name>
		<url-pattern>/chartDisplay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>D3LibJsonUtilizer</servlet-name>
		<url-pattern>/d3LibJsonUtilizer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommunitySentimentAnalysis</servlet-name>
		<url-pattern>/communitySentimentAnalysis</url-pattern>
	</servlet-mapping>
</web-app>