/*
    The CSS for center panel
      overflow-y:scroll;
*/

.mainPanel {
  margin: 10px 0px 0px 10px;
  padding:10px;
}

.twitterTable {
  padding-top:10px;
  padding-right:0px;
  padding-bottom:10px;
  padding-left:0px;
}

.twitterTableHeader {
  background-color: #C5D9E3;
  color: 02111A;
  font-style: italic;
}

.tabLabel {
  align: center;
}

.tabPanel {
  background-color: #C5D9E3;
  margin:0px;	  	
}

.tabCloseImg {
  vertical-align: top;
  margin-right:0px;
  margin-left:100px;	
}

.scrollPanel {
  height: 100%;
  width: 100%;
}

.linkTextLabel {
  color: green;
}

.tweetText {
  color: blue;
  padding-left: 30pt;
}

    